@import 'src/styles/vars.scss';

@font-face {
  font-family: "beni";
  src: url("../../assets/fonts/Benilla_Calligraphy.ttf");
 }
 @font-face {
  font-family: "bubble";
  src: url("../../assets/fonts/Bubble.ttf");
 }
 @font-face {
  font-family: "robot";
  src: url("../../assets/fonts/Roboto-Regular.ttf");
 }
.pantry{
  @include main_container;
  text-align: center;
  background-image: repeating-linear-gradient(90deg, rgba(139, 202, 11,0.5) 0px, rgba(139, 202, 11,0.5) 40px,transparent 40px, transparent 80px),repeating-linear-gradient(0deg, rgba(139, 202, 11,0.5) 0px, rgba(139, 202, 11,0.5) 40px,transparent 40px, transparent 80px),linear-gradient(90deg, #ffffff,#ffffff);

}
.pantryTitle{
  padding-top: 0px;
  font-size: 60px;
  font-weight: normal;
  margin-bottom: 3vmin;
  font-family: bubble;
  margin: auto auto 20px;
  background-color: lighten($thirdColor,15%);
  height: 60px;
  border-radius: 20px;
  border:2px solid $secondColor;
  width: 340px;
  }
.label_pantry{
  margin-bottom: 3vmin;
  font-size: 1.5em;
  text-shadow: $firstColor 1px 1px;



}
.pantry_buttons{
display: flex;
justify-content: space-evenly;
margin-bottom: 3vmin;
margin-top: -20px;
}
.btn_manual{
  @include btn-style($thirdColor, $secondColor);
  cursor: pointer;
}
.btn_scan{
  @include btn-style($fourthColor, $secondColor);
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  .pantry_buttons{
    flex-direction: column;
  }
  .btn{
    //margin-bottom: 4vmax;
    align-self: center;
    height: 10vmin;
    width: 85vw;
    margin-left: auto;
    line-height: 7vmin;
    font-size: 1.5em;
  }
}
