@import 'src/styles/vars.scss';

.pantry{

  background-color: $firstColor;
  padding-top: 110px;
  text-align: center;
  
}
.pantryTitle{
  font-weight: bold;
  margin-bottom: 3vmin;
  }
.label_pantry{
  margin-bottom: 3vmin;
}
.pantry_buttons{
display: flex;
justify-content: space-evenly;
margin-bottom: 3vmin;
}
.btn_manual{
  @include btn-style($thirdColor, $secondColor)
}
.btn_scan{
  @include btn-style($fourthColor, $secondColor)
}
@media screen and (max-width: 450px) {
  .pantry_buttons{
    flex-direction: column;
  }
  .btn{
    margin-bottom: 4vmax;
    height: 10vmin;
    line-height: 7vmin;
  }
}
