@import 'src/styles/vars.scss';

.displayUpdateDlc_shadow-layer {
	background-color: rgba(128, 128, 128, 0.055);
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.displayUpdateDlc_container {
  border: solid yellow 2px;
  width: 420px;
  height: 262px;
  border-radius: 40px;
  margin-top: 140px;
  padding: 15px 15px 0;
  position: fixed;
  top: 0%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  
  overflow: hidden;
  > p {
    width: 110%;
    margin-top: 0%;
    padding: 1vmin 0;
    font-size: 17px;
    font-weight: bold;
    background-color: black;
    color: $firstColor;
    transform: rotate(-10deg) translate(-25px, -0px);

  }

  & .fa-times {
    position: fixed;
    top: 15px;
    right: -15px;
    z-index: 200;
    font-size: 1.2em;
    color: red;
    &:hover{
      transform: scale(1.4);
    }
  }
}
.formDlcModal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.inputDlc{
  height: 40px;
  width: 70%;
  margin-top: 125px;
}
.dateValidation {
  @include btnDelete(rgb(64, 146, 64));
  margin-top: 105px;

}


