@import 'src/styles/vars.scss';
@font-face {
  font-family: "bubble";
  src: url("../../../assets/fonts/Bubble.ttf");
 }
 @font-face {
  font-family: "robot";
  src: url("../../../assets/fonts/Roboto-Regular.ttf");
 }
.mainSmall{
  //@include main_container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cardSmall{
  background-color: lightpink;
  border: solid 8px $firstColor;
  width: 90%;
  //margin-left: 10vw;
  & h2{
    margin: 0.5em 0;

    color: $firstColor;
    text-shadow: 1px 1px $secondColor;
    font-size: 30px;
    font-weight: bold;
    font-family: robot;

  }
  & h3{
    margin: 0.5em 0;

    color: $secondColor;
    font-size: 20px;
    font-weight: bold;
    font-family: robot;
overflow-wrap: break-word;
  }
}
