@import 'src/styles/vars.scss';
.infos-product{
text-align: center;
//height: 65vh;
}
.img_barcode{
  margin: 0 auto;
  background-image: url(../../assets/image/barcodeInfo.png);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  @media screen and (max-width: 980px) {
    display:none;
  }
}
.infos-product-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 10% auto 0;
  align-items: center;
  font-size: 14px;
  & input{
    height: 2em;
  }

  & .infos-product-input {
    background-color: $firstColor;
    border: 1px solid $secondColor;
    padding: 5px;
    color: $secondColor;
    border-radius: 3px;
    margin-bottom: 15px;
  }

  & .infos-product-button {
    /*background-color: $fourthColor;
    border: 1px solid $secondColor;
    color: $secondColor;
    border-radius: 3px;
    padding: 5px 10px;*/
    @include btn-style($secondColor,$thirdColor);
    font-weight: bold;
    font-size: 1em;

    &:hover {
      background-color: $thirdColor;
    }
  }
}


