@import 'src/styles/vars.scss';

.page_404{
  padding-top: 20px;
  background-color: transparent;
  color: $firstColor;

}

@keyframes food-movement {100% {transform: translate(100vmin,-600px);} }
@keyframes food-movement2 {100% {transform: translate(100vmin,-700px);} }
@keyframes spin-food{ 
  50% { transform:rotate(-160deg); transition: transform 10s; }
  100% { transform:rotate(-360deg); transition: transform 20s; } }
@keyframes move-fridge{
    100% {transform:translate(-60px, -160px); }
}
@keyframes rotate-fridge{
    100% { transform:rotate(-720deg); }
}

.btn-go-home{
    position: relative;
    z-index: 200;
    margin: 15px auto;
    width: 100px;
    padding: 10px 15px;
    border: 1px solid $fourthColor;
    border-radius: 100px;
    font-weight: 400;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing : 2px;
    font-size: 11px;
    font-weight: bold;
    
    transition: all 0.3s ease-in;
}

.btn-go-home:hover{
    background-color: $fourthColor;
    color: $secondColor;
    transform: scale(1.05);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
}


.objects img{
    z-index: 0;
    pointer-events: none;
    
}

@mixin object_food {
    z-index: 0;
    position: absolute;
    transform: translateX(-50px);
    top: 75%;
    pointer-events: none;
    animation: food-movement 20s linear infinite both running;

}
.banane{
@include object_food();
transform: translateX(-1350px);
top: 95%;

}
.coriandre{
  @include object_food();
  transform: translateX(-1000px);
  top: 75%;
  animation: food-movement2 30s linear infinite both running;

}
.chouFleur{
  @include object_food();
  transform: translateX(-50px);
  top: 95%;
  animation: food-movement2 30s linear infinite both running;
}
.milk{
  @include object_food();
  transform: translateX(-150px);
  top: 75%;
  animation: spin-food 40s linear infinite both running;
}
.oeuf{
  @include object_food();
  transform: translateX(-250px);
  top: 75%;
}
.tomate{
  @include object_food();
  transform: translateX(-500px);
  top: 75%;
}

.object_fridge{
    animation: rotate-fridge 10s infinite linear both alternate;
}
.box_fridge{
    position: absolute;
    top: 60%;
    right: 20%;
    will-change: transform;
    animation: move-fridge 70s infinite linear both alternate;
}
.central-body{
  position: relative;
  width: 100%;
  padding: 17% 5% 10% 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  & h3{
    z-index: 1;
    font-weight: bold;
    font-size: 10vmin;
    text-shadow: slategray 2px 2px;
    background-color: rgba(112, 128, 144, 0.4);
    border-radius: 15px;
   }
}

.title_404{
  display: flex;
  flex-direction: row;
  justify-content: center;
    & h2{
      z-index: 1;
      font-size: 30vmin;
     &:nth-child(1){color: $fourthColor}
     &:nth-child(3){color: $thirdColor}

    }
}


@media only screen and (max-width: 600px){
    .page_404{
      height: 100vh;
    }
    .box_fridge{
        top: 70%;
    }
    
    .central-body{
        padding-top: 25%;
    }
}
