// ----- Fonts

// http://gregory-broyer.vpnuser.lan/

// ----- colors theme  https://colorhunt.co/palette/196224

$firstColor: #EEEEEE;
$secondColor: #393e46;
$thirdColor: #76ead7;
$fourthColor: #cff395;

// ----- color & size FRIDGE 


  $c-dark: #393e46; //#C62828; // bordure frigo
  $fridge-color:  #f5d273 ;//hsl(83, 77%, 66%); //#EF5350; // porte
  $width: 200px;
  $height: 400px;

  $fridge-stroke: rgb(142, 200, 247); // bordure interieur
  $fridge-stroke-width: 9px;
  $fridge-bgc: #E3F2FD; // background
  $fridge-section-margin: 9px;

  $freezer-height: 130px;

  $fridge-shelf-height: 4px;
  $fridge-thickness: 50px;

  $out-border-radius: 20px;
  $in-border-radius: 20px;

// ----- @mixin
// Main position
@mixin main_container(){
  height: auto;
  //flex: 1 1 auto;
  width: 100vw;
  padding: 20px;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: darken($firstColor, 0%);
  background-image: repeating-linear-gradient(0deg, hsla(123,74%,43%,0.15) 0px, hsla(123,74%,43%,0.15) 35px,transparent 35px, transparent 70px),repeating-linear-gradient(90deg, hsla(123,74%,43%,0.15) 0px, hsla(123,74%,43%,0.15) 35px,transparent 35px, transparent 70px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
  @media screen and (max-width: 600px) {
  //overflow: auto;
  height: 70vh;

  }
}



// Button
@mixin btn-style($colorText, $ColorBackground) {
  border: none;
  color: $colorText;
  background-color: $ColorBackground;
  border-radius: 10px;
  border: 2px solid $colorText;
  padding:15px;
  font-weight: bold;
  box-shadow: $ColorBackground 1px 1px 2px;
  &:hover{
    box-shadow: $ColorBackground 1px 1px 20px;
    transform: scale(1.1);
  }
}
