// ----- Fonts

// http://gregory-broyer.vpnuser.lan/

// ----- colors theme  https://colorhunt.co/palette/196224

$firstColor: #EEEEEE;
$secondColor: #393e46;
$thirdColor: #76ead7;
$fourthColor: #cff395;

// ----- color & size FRIDGE 


$c-dark: #393e46; //#C62828; // bordure frigo
$fridge-color:  #f5d273 ;//hsl(83, 77%, 66%); //#EF5350; // porte
$width: 200px;
$height: 400px;

$fridge-stroke: rgb(142, 200, 247); // bordure interieur
$fridge-stroke-width: 9px;
$fridge-bgc: #E3F2FD; // background
$fridge-section-margin: 9px;

$freezer-height: 130px;

$fridge-shelf-height: 4px;
$fridge-thickness: 50px;

$out-border-radius: 20px;
$in-border-radius: 20px;

// ----- @mixin
// Main position
@mixin main_container(){
  height: auto;
  //flex: 1 1 auto;
  width: 100vw;
  padding: 20px;
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: bold;
  letter-spacing: 3px;
  background-image: repeating-linear-gradient(90deg, rgba(139, 202, 11,0.5) 0px, rgba(139, 202, 11,0.5) 40px,transparent 40px, transparent 80px),repeating-linear-gradient(0deg, rgba(139, 202, 11,0.5) 0px, rgba(139, 202, 11,0.5) 40px,transparent 40px, transparent 80px),linear-gradient(90deg, #ffffff,#ffffff);
}



// Button
@mixin btn-style($colorText, $ColorBackground) {
  border: none;
  color: $colorText;
  background-color: $ColorBackground;
  border-radius: 10px;
  border:  4px solid $colorText;
  padding: 3px 15px;
  margin: 0 auto;
  height: min-content;
  font-weight: bold;
  box-shadow: $ColorBackground 1px 1px 2px;
  @media all and (max-width: 450px) {
    margin-top: 15px;

  }
  &:hover{
    box-shadow: $ColorBackground 1px 1px 20px;
    transform: scale(1.1);
  }


}
