@import 'src/styles/vars.scss';

.my-account {
  font-weight: bold;
  margin-left: 20px;
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  // display: none;
  
  & :nth-child(2){
    align-self: center;
  }

  .account-menu {
    position: absolute;
    top: 95px;
    right: 15px;
    border: 2px solid $secondColor;
    font-weight: bold;
    letter-spacing: 2px;

    border-radius: 3px;
    padding: 1em 0.5em;
    background-color: $fourthColor;
    height: 360px;
    width: 260px;
    z-index: 500;
    & div {
      width: 60px;
      height: 2px;
      background-color: $secondColor;
      margin: 1em auto;
    }

    & .list-menu {
      text-align: center;
      
      & li {
        font-size: 1em;
        padding: 10px 0;
        cursor: pointer;
        &:hover{
          background-color: transparentize($secondColor, 0.7);
          border-radius: 10px;
          font-size: 1.2em;
        }

        &:not(:first-child) {
          margin-top: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .my-account {
    display: none;
  }
}
