@import 'src/styles/vars.scss';
@font-face {
  font-family: "roboto";
  src: url("../../assets/fonts/Roboto-Regular.ttf");
 } 
.app {
  background-color: $firstColor;
  color:$secondColor;
  min-height: 100vh;
  margin: 0;
  list-style: none;
  font-family: roboto;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: flex-start;

}


