@import 'src/styles/vars.scss';

.app {
  background-color: $firstColor;
  color:$secondColor;
  height: 100vh;
  margin: 0;
  list-style: none;
  
}
.test_img{
  display: none;
// essai faire venir sur page d'acceuil voir si apparait dans About
}

