@import 'src/styles/vars.scss';
@font-face {
  font-family: "bubble";
  src: url("../../assets/fonts/Bubble.ttf");
 } 
.main{
  font-family: bubble ,Arial;
  height: max-content;
  background-image: repeating-linear-gradient(90deg, rgba(139, 202, 11,0.5) 0px, rgba(139, 202, 11,0.5) 40px,transparent 40px, transparent 80px),repeating-linear-gradient(0deg, rgba(139, 202, 11,0.5) 0px, rgba(139, 202, 11,0.5) 40px,transparent 40px, transparent 80px),linear-gradient(90deg, #ffffff,#ffffff);  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: 
  "fridge title"
  "fridge texto"
  ;
  row-gap: 5vmin;
  column-gap: 5vmin;
  padding: 115px 7vmin 7vmin;

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "texto"
    ;
    row-gap: 3vmin;

  }
  .titleMain{
  grid-area: title;
  text-align: center;
  font-size: 8vmin;
  @media screen and (max-width: 600px) {
    font-size:7vmin;
    white-space: nowrap;
  }

  }
  .textMain{
    //line-height: 5vmin;
    grid-area: texto;
    text-align: center;
    //width: 50vw;
    font-size: 4vmin;
    @media screen and (max-width: 600px) {
      width: 100%;  
      }
    }

  .button-tests {
    display: inline-block;
    width: 200px;
  }
}

// ---------------  FLIP TEXTE -------------------
#container {
  text-transform: uppercase;
  font-size:4vmin;
}

#flip {
  height:36px;
  overflow:hidden;
}

#flip > div > div {
  color:$secondColor;
  padding:0px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 7s linear infinite;
}

#flip div div {
  background:transparent;
}
#flip div:first-child div {
  background:transparent;
}
#flip div:last-child div {
  background:transparent;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;} // on remet a zero
}
// .datas {
//   background-color: $firstColor;
//   color: $secondColor;
// }
