@import 'src/styles/vars.scss';
@font-face {
  font-family: "bubble";
  src: url("../../assets/fonts/Bubble.ttf");
 } 
.main{
  font-family: bubble ,Arial;
  height: max-content;
  background-image: repeating-linear-gradient(90deg, rgba(253, 164, 183,0.5) 0px, rgba(253, 164, 183,0.5) 40px,transparent 40px, transparent 80px),repeating-linear-gradient(0deg, rgba(253, 164, 183,0.5) 0px, rgba(253, 164, 183,0.5) 40px,transparent 40px, transparent 80px),linear-gradient(90deg, #ffffff,#ffffff);
  overflow: hidden;
  border-top: $secondColor 2px solid;
  border-bottom: $secondColor 2px solid;
  display: grid;
  grid-template-areas: 
  "title title"
  "fridge text";
  row-gap: 10vmin;
  column-gap: 10vmin;
  padding: 115px 7vmin 7vmin;

  @media screen and (max-width: 600px) {
    grid-template-areas:
    "title"
    "text"
    "fridge";
    
  }
  .titleMain{
  grid-area: title;
  text-align: center;
  font-size: 9vmin;
  @media screen and (max-width: 600px) {
    font-size:9vmin;  
  }

  }
  .textMain{
    line-height: 5vmin;
    grid-area: text;
    text-align: center;
    width: 50vw;
    font-size: 4vmin;
    @media screen and (max-width: 600px) {
      width: 100%;  
      }
    }

  .button-tests {
    display: inline-block;
    width: 200px;
  }
}

// .datas {
//   background-color: $firstColor;
//   color: $secondColor;
// }
