@import 'src/styles/vars.scss';
.cards{
  display: flex;
  flex-wrap: wrap;
  // justify-items: center;
  justify-content: center;
  
}

.card{
  position: absolute;
  background-color: $firstColor;
  border: solid 2px $secondColor;
  border-radius: 15px;
  width: 200px;
  height: 300px;
  padding: 1vmin;
  margin: 2vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  will-change: transform, opacity;
  @media screen and (max-width: 450px) {
    width: 90vw;
    margin-left: 5vw;
    font-size: 5vmin;
  }
  

  & .productTitle{
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px $secondColor solid  ;
    // margin-top: 2px;
  }

  & .dlc{
    font-size: 1.1em;
    font-weight: bold;
  }

  & .product-img{
    max-height: 200px;
    display: block;
    margin: 0 auto;
  }

  & .nutri-img {
    max-width: 150px;
    // display: block;
    margin: 0 auto;
  }

  @media screen and (max-width: 600px) {

  }
 
}
.front, .back{
  display:none;
 
}


