@import 'src/styles/vars.scss';
.cards{
  display: flex;
  flex-wrap: wrap;
  // justify-items: center;
  justify-content: center;
  
}

.card{
  position: absolute;
  background-color: $firstColor;
  border: solid 10px $secondColor;
  border-radius: 15px;
  width: 250px;
  height: 300px;
  padding: 1vmin;
  margin: 2vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  will-change: transform, opacity;
  @media screen and (max-width: 450px) {
    width: 80vw;
    
    margin-left: 5vw;
    font-size: 5vmin;
  }
  

  & .productTitle{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px $secondColor solid;
    height: 15%;
    line-height:1.4em;
    overflow:hidden;
    // margin-top: 2px;
  }
  @mixin detail_card(){
    align-self: center;
    font-size: 1.2em;
  }
  & .dlc{
    order:1;
    @include detail_card();    

    font-weight: bold;
  }
  & .qut{
    order:2;
    @include detail_card();    
    font-weight: bold;
  }
  & .brand{
    order:4;
    @include detail_card();    
  }
  & .createDate{
    order:5;
    @include detail_card();    
  }
  & .poid{
    order:3;
    @include detail_card();    
  }

  & .product-img{
    height: 35%;
    display: block;
    margin: 0 auto;
  }

  & .nutri-img {
    width:90%;
    content: "non communiquer";
    // display: block;
    margin: 0 auto;
  }

  @media screen and (max-width: 600px) {

  }
 
}
@mixin card_effect_peremption(){
  box-shadow: black 2px 2px 20px;
  &:hover{
    box-shadow: none;
 
  }
}
.card.red {
  border: solid 5px rgb(255, 61, 61);
  background-color:  rgb(252, 215, 206);
  @include card_effect_peremption();

}
.card.finish {
  border: solid 8px $secondColor;
  transform: scale(0.7);
  background-color:  rgb(211, 208, 208);
  @include card_effect_peremption();
  background-image: url(../../assets/image/finishProduct.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  & .dlc{color:$secondColor; font-size:1.4em; background-color: blanchedalmond;}
  & .qut{display:none;}
  & .brand{display:none;}
  & .createDate{display:none;}
  & .poid{display:none;} 
  & .productTitle{
    align-self: baseline;
  }

}
.card.orange {
  border: solid 5px rgb(247, 176, 45);
  background-color:  rgb(252, 224, 182);
  @include card_effect_peremption();


}

.card.green {
  border: solid 5px rgb(64, 146, 64);
  background-color:  rgb(206, 255, 206);
  @include card_effect_peremption();



}

.front, .back{
  display:none;
 
}


