@import 'src/styles/vars.scss';

#interactive.viewport {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
}
#interactive.viewport > canvas,
#interactive.viewport > video {
  max-width: 100%;
  // width: 100%;
}
canvas.drawing,
canvas.drawingBuffer {
  position: absolute;
  left: 0;
  top: 0;
}

.modal {
  //position: fixed;
  z-index: 1000;
  border-radius: 5px;
  //top: 150px;
  //left: 50%;
  //right: 50%;
  height: 30vh;
  width: 40vw;
  margin: 0 auto;
  background-color: $thirdColor;
  padding: 30px 20px 0 20px;
}

.fa-times {
  margin-bottom: 25px;
  margin-top: -15px;
  float: right;
  color: $secondColor;
  cursor: pointer;
  font-size: 1.2em;
}

.scan-info {
  margin-top: -5px;
  float: right;
  color: $secondColor;
  cursor: pointer;
  font-size: 1em;
}

.products-list {
  position: fixed;
  top: 150px;
  left: 800px;
  padding: 20px;
  background-color: $firstColor;
  color: $secondColor;
  font-size: 1.5em;
  border: 1px solid $secondColor;
  border-radius: 3px;
}

.scanError {
  position: fixed;
  top: 150px;
  left: 800px;
  width: 280px;
  padding: 15px;
  background-color: rgb(255, 194, 194);
  color: rgb(173, 0, 0);
  border: 1px solid rgb(173, 0, 0);
  border-radius: 3px;
  line-height: 1.3em;
  text-align: center;
}

.productNotFound {
  position: fixed;
  top: 150px;
  left: 800px;
  width: 350px;
  padding: 15px;
  background-color: rgb(255, 194, 194);
  color: rgb(173, 0, 0);
  border: 1px solid rgb(173, 0, 0);
  border-radius: 3px;
  line-height: 1.3em;
  text-align: center;
}

.scanSuccess {
  position: relative;
  top: 150px;
  left: 800px;
  padding: 15px;
  background-color: rgb(199, 255, 182);
  color: rgb(24, 102, 0);
  border: 1px solid rgb(24, 102, 0);
  border-radius: 3px;
  line-height: 1.3em;
  text-align: center;
}

.scanPage{

  // background-image: url(../../assets/image/scanbackground.jpg);//url(/src/assets/image/scanbackground.jpg);
  // background-size: cover;
  // background-position-y: -100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: max-content;
  background-color: #fff;
  padding-top: 110px;
  text-align: left;
  min-height: 90vh;
  @media screen and (max-width: 1162px) {
    height: 80vh;
    width: 100vw;
    background-size: cover;
    background-position: bottom;
  }
  @media screen and (max-width: 600px) {
    height: 80vh;
    background-color:$firstColor;
    background-image: none;
  }
  .left_scanPage{
    order: -1;
    margin-left: 7vmin;
    padding: 3vmin 0;
    width: 40vw;
    background: rgba(0,0,0,.1);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.1);
    border-radius: 10px;
    @media screen and (max-width: 600px) {
      width: 100vw;
    }
    .scanInput{
      margin: 10vmin 5vmin;
      text-align: center;
      cursor: pointer;
      & h2{
        font-weight: bold;
        font-size: 3vmin;
        margin-bottom: 3vmin;
      }
      & .btn_scan_direct{
        height: 50px;
        width: 50px;
        border-radius: 20px;
        background-color: $fourthColor;
        color: $secondColor;
        font-weight: bold;
        line-height: 50px;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        border: $secondColor 1px solid;

        &:hover{
          animation: pulse 1.5s infinite ease-in-out;
        }
        

      }
    }
    .manualInput{
      text-align: center;
      
      & :focus{
        animation: pulse 1.5s infinite ease-in-out;
      }
      & h2{
        font-weight: bold;
        font-size: 3vmin;
        margin-bottom: 3vmin;
      }
      & input{
        margin-bottom: 3vmin;
        background-color: $fourthColor;
        color: $secondColor;
        border: $secondColor 1px solid;
        font-weight: bold;

      }
      & .btn_validate_barcode{
        height: 50px;
        width: 60px;
        line-height: 50px;
        border-radius: 20px;
        font-size: 15px;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        background-color: $fourthColor;
        color: $secondColor;
        border: $secondColor 1px solid;

        &:hover{
          animation: pulse 1.5s infinite ease-in-out;
        }
      }
    }
  }
  .right_scanPage{
  order: 1;
  align-self: center;
  margin-right: 7vmin;
  padding: 3vmin 0;
  width: 40vw;
  background: rgba(0,0,0,.1);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.1);
  border-radius: 10px;
  //background-image: url(../../assets/image/scanbackground.jpg);//url(/src/assets/image/scanbackground.jpg);

  @media screen and (max-width: 600px) {
    width: 100vw;
  }

  }
  @keyframes pulse {
    0%{
      box-shadow: 0 0 20px rgb(104, 118, 133, 0.5) ;
      border: 1px solid  rgb(104, 118, 133, 0.5);
    }
    50%{
      box-shadow: 0 0 20px rgb(104, 118, 133, 1);
      border: 1px solid  rgb(104, 118, 133, 1);

    }
    100%{
      box-shadow: 0 0 20px rgb(104, 118, 133, 0.5);
      border: 1px solid  rgb(104, 118, 133, 0.5);

    }
  }

  
}
