.burger {
  position: absolute;
  top: 30px;
  right: 25px;
  width: 42px;
  height: 24px;
  // background-color: rgb(235, 138, 138);
  cursor: pointer;
}

.burger span {
  width: 100%;
  height: 4px;
  background-color: #000;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.burger span::before, .burger span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #000;
}

.burger span::before {
  transform: translateY(-10px);
}

.burger span::after {
  transform: translateY(10px);
}
