@import 'src/styles/vars.scss';
@font-face {
  font-family: "bubble";
  src: url("../../assets/fonts/Bubble.ttf");
 } 
.about_page{
  @include main_container;
  font-family: bubble ,Arial;
  background-image: repeating-linear-gradient(90deg, rgba(253, 164, 183,0.5) 0px, rgba(253, 164, 183,0.5) 40px,transparent 40px, transparent 80px),repeating-linear-gradient(0deg, rgba(253, 164, 183,0.5) 0px, rgba(253, 164, 183,0.5) 40px,transparent 40px, transparent 80px),linear-gradient(90deg, #ffffff,#ffffff);
  display: grid;
  grid-template-areas:
  "about_title about_title about_title about_title about_title" 
  "p_laurie p_sebastien p_aurelien p_greg p_alexis"
  "a_laurie a_sebastien a_aurelien a_greg a_alexis"
  "tous tous tous tous tous";
  row-gap: 1vmin;
  column-gap: 3vmin;
  @media screen and (max-width: 1200px) {
  //grid-template-areas:
    display: grid;
    grid-template-areas:
  "about_title about_title about_title " 
  "p_laurie p_sebastien p_aurelien" 
  "a_laurie a_sebastien a_aurelien" 
  "p_greg p_alexis 1fr"
  "a_greg a_alexis 1fr"
  "tous tous tous";
  //place-items: center;
  }
  @media screen and (max-width: 700px) {
    display: grid;
    grid-template-areas:
      "about_title about_title" 
      "p_laurie  p_aurelien"
      "a_laurie a_aurelien"
      "p_sebastien p_greg"
      "a_sebastien a_greg"
      "p_alexis p_alexis"
      "a_alexis a_alexis"
      "tous tous"
      ;
    place-items: center;
    row-gap: 2vmin;
    
  }
  @media screen and (max-width: 445px) {
    display: grid;
    grid-template-areas:
      "about_title " 
      "p_laurie"  
      "a_aurelien"
      "p_aurelien"
      "a_laurie"
      "p_sebastien "
      "a_sebastien"
      "p_greg"
      "a_greg"
      "p_alexis"
      "a_alexis "
      "tous "
      ;
    place-items: center;
    place-content: center;
    row-gap: 2vmin;
    & .ul_about>li{font-size: 400px; }
  }

  .about_title{
    grid-area: about_title;
    font-size: 8vmin;
    text-align: center;
    padding: 10px;
    //font-size: 60px;
    font-weight: normal;
    margin-bottom: 3vmin;
    font-family: bubble;
    margin: auto auto 20px;
    background-color: lighten($thirdColor,15%);
    height: max-content;
    border-radius: 20px;
    border:2px solid $secondColor;
    width: max-content;
    @media screen and (max-width: 600px) {
      font-size: 18px;
     }
  }
  & img{
    border: ridge 10px $fourthColor;
    width: 100%;//200px;
  }
  .ul_about{
    list-style: none;
    text-align: center;
    border: ridge 10px $fourthColor;
    width: 100%;//200px;
    background-color: #76ead771;


    :nth-child(1){
      font-size: 1.2em;
      padding:0.2em 0;
      background-color: $secondColor;
      color: $firstColor;
      letter-spacing: 2px;
    }
    :nth-child(2){
      border-top: ridge 10px $fourthColor;
      padding: 0.5vmin 0 1vmin;
      font-size: 3vmin;

    }
    :nth-child(3){
      font-size: 3vmin;
      
    }

  }
  .photo_laurie{
    grid-area: p_laurie;
  }
  .about_laurie{
    grid-area: a_laurie;
  }
  .photo_sebastien{
    grid-area: p_sebastien;
  }
  .about_sebastien{
    grid-area: a_sebastien;
  }
  .photo_aurelien{
        grid-area: p_aurelien;
  }
  .about_aurelien{
        grid-area: a_aurelien;
  }
  .photo_greg{
        grid-area: p_greg;
  }
  .about_greg{
        grid-area: a_greg
  }
  .photo_alexis{
        grid-area: p_alexis;
  }
  .about_alexis{
        grid-area: a_alexis;
  }
  .tous{
    margin-top: 3vmin;
    grid-area: tous;
    font-size: 5vmin;
    text-align: center;
    padding-top: 0px;
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 3vmin;
    font-family: bubble;
    margin: 10px auto auto;
    background-color: lighten($thirdColor,15%);
    height: 60px;
    border-radius: 20px;
    border:2px solid $secondColor;
    width: max-content;
  }
}
