@import 'src/styles/vars.scss';

.header {
  background-color: $firstColor;
  padding: 15px 25px 0px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .right-container {
    display: flex;
    align-items: center;
    height: 100px;
  }
}

@media all and (max-width: 600px) {
  .header {
    background-color: $firstColor;
    padding: 15px 25px 0px 25px;
    display: flex;
    // justify-content: center;
    align-items: center;

    .logo-gaspi {
      align-self: center;
      width: 5px;
    }
  }

  .right-container {
    display: none;
  }
}

