@import 'src/styles/vars.scss';

.sloganLogo{
  text-align: center;
}

.logo{
  max-width: 200px;  
}
.slogan{
  position: relative;
  transform: translateY(-35px);
  color: darken($secondColor, 0%);
  font-size: 1em;
  font-weight: bold;
  text-shadow: $firstColor 1px 1px 1px ;
  text-transform: uppercase;

}
