@import 'src/styles/vars.scss';

.dashboard_page{
  padding-top: 120px;
  height: max-content ;
  background-color: $firstColor;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 
  .dashboard_left{
    padding: 5vmin;
    width: 50vw;
    text-align: center;
    & h2{
      margin-top: 5vmin;
      margin-bottom: 5vmin;
    }
    .user-contain input {
      width: 100%;
      padding: 3px 0;
      font-size: 16px;
      color: $secondColor;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid $secondColor;
      outline: none;
      background: transparent;
      &::placeholder{
        color: red;
      }
    }

    
    .user-contain input:focus {
      top: -20px;
      left: 0;
      color: $secondColor;
      font-size: 12px;
    }
  }
  .dashboard_right{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;

    & .alert_dashboard{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 3vmin;
      font-weight: bold;
      & h2{padding: 10px;}
      .alert_J{
        background-color: #d32626;
        color: $firstColor;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid $fourthColor;

        &:hover{
          cursor: pointer;
          border: 2px solid $secondColor;
        }
      }
      .alert_24{
        background-color: #f5a31a;
        color: $firstColor;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid $fourthColor;


        &:hover{
          cursor: pointer;
          border: 2px solid $secondColor;
        }

      }
      .alert_48{
        background-color: #79d70f;
        color: $firstColor;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid $fourthColor;

        &:hover{
          cursor: pointer;
          border: 2px solid $secondColor;
        }
        

      }
    }
    & .remove_account{
      border-top: 1px solid $secondColor;
      text-align: center;
      align-content: center;
      margin: 5vmin;
      padding: 5vmin;
      .btn_remove_account{
        
        background-color: #79d70f;
        color: $firstColor;
        font-weight: bold;
        padding: 10px;
        border: 2px solid $fourthColor;
        border-radius: 10px;
        width: fit-content;
        margin: 5vmin 0;
        &:hover{
          cursor: pointer;
          border: 2px solid $secondColor;
        }
        
      }
    }
  }
}
