@import 'src/styles/vars.scss';

.deleteConfirm_shadow-layer {
	background-color: transparentize( lightpink, 0.98);
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.imgDelete{
  //background-color: $firstColor;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  padding-top: 140px;
  position: fixed;
  top: 20%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);

}

.deleteConfirm_container {
  //border: solid yellow 2px;
  width: 420px;
  height: 262px;
  border-radius: 40px;
  margin-top: 140px;
  padding: 15px 15px 0;
  position: fixed;
  top: 0%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  
  overflow: hidden;
  > p {
    width: 110%;
    margin-top: 0%;
    padding: 1vmin 0;
    font-size: 17px;
    font-weight: bold;
    background-color: black;
    color: $firstColor;
    transform: rotate(-18deg) translate(-80px, -10px);

  }
}
.btns_Delete{
  display: flex;
  justify-content: space-between;
}


.validate {
  @include btnDelete(rgb(64, 146, 64));
}

.cancel {
  @include btnDelete(rgb(255, 61, 61));
}
