@import 'src/styles/vars.scss';

#row-menu {
  // display: none;
}

.row-menu-content  {
  display: flex;
  align-items: center;
}

.row-menu-content {
  margin-top: -15px;
  list-style-type: none;
  display: flex;
}

#row-menu li {
    margin-right: 2vw;
}

#row-menu a:hover {
    text-shadow: 0.5px 0.5px 0.5px $thirdColor;
    // color: $thirdColor;
}

#column-menu {
  display: block;
}

.column-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $firstColor;
  overflow-x: hidden;
  transition: width 0.2s ease-in-out;

  & li {
    font-size: 2em;
    margin: 0.3em;
    cursor: pointer;
  }
}

.column-menu-content.active {
  width: 100%;
}

@media screen and (max-width: 600px) {
  #row-menu {
    display: none;
  }

  #column-menu {
    display: block;
  }
  
}
